* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("font/Raleway-Bold.ttf");
}



/*Justify-content au centre*/
.jst-content {
    justify-content: center;
}


/*Aligner les items au centre*/
.align-item-center {
    align-items: center;
}

/*Margin left 15px*/
.ml-15 {
    margin-left: 15px;
}

/*Display Flex 15px*/
.display-flex {
    display: flex;
}

/*Margin top 60px*/
.mt-40 {
    margin-top: 40px;
}

/*Flexwrap wrap*/
.flexwrap {
    flex-wrap: wrap;
}

h1 {
    font-family: "Raleway-Bold", serif;
    font-size: 29px;
}

h2 {
    font-size: 22px;
    font-family: "Raleway-Bold", serif;
}

h3 {
    font-size: 21px;
}

body {
    font-family: "Raleway-Regular", serif;
    background-color:rgb(255, 255, 255);
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
}

/* HEADER */

.header {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    font-size: 19px;
}

.header a {
    padding: 3rem;
    border-top: 3px solid transparent;
}

@media (max-width: 800px){
    .header a {
    padding: 0;
    padding-bottom: 15px;
    padding-top: 20px;
    }
}

.header a:hover{
    border-color: #0065fc;
    color: #0065fc;
}

#logo {
    margin-right: auto;
    padding: 0 3rem;
}


.inscrire {
    font-weight: bold;
    color: #0065fc;
}

@media (max-width: 800px) {
    .nav-principal {
        order: 1;
        flex-basis: 100%;
    }

    .nav-principal a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid rgb(209, 209, 209);
    }
    .nav-principal a:hover {
        border-bottom-color: #0065fc;
        border-top-color: transparent;
    }
    .inscrire {
        margin-right: 20px;
    }

}


/* BODY */

.contenu {
    padding: 0 3rem;
}

@media (max-width: 800px){
.contenu {
    padding: 0 0rem;
    }
}

.contenu h1 {
    margin-top: 20px;
}


.contenu p {
    margin-bottom: 0.8rem;

}

@media (max-width: 800px){
    .contenu h1 {
        margin-left: 15px;
        font-size: 21px;
    }
    .contenu p {
        margin-left: 15px;
        font-size: 15px;
    }
    #map-icone {
        font-size: 19px;
        padding: 1rem;
    }
    #loupe {
        visibility: visible;

    }
    #loupe {
        visibility: hidden;
        color: white;

    }
    .recherche {
        justify-content: center;
        margin-top: 30px;
    }
}


/* Barre de recherche */

.recherche {
    height: 55px;
}

#map-icone {
    font-size: 22px;
    padding: 1.1rem;
    background-color: #F2F2F2;
    border-radius: 1rem 0rem 0rem 1rem;
}

.recherche input {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-right: 0.5rem;
    border: 2px solid #F2F2F2;
    border-right: none;
    outline-style: none;
    padding-left: 10px;
}

.recherche input::placeholder {
    color: black;
    font-weight: bold;
}


.bouton-recherche {
    font-size: 18px;
    height: 55px;
    width: 160px;
    color: white;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    border: 0.5px solid #f2f2f2;
    background-color: #0065FC;
}

.deskop-none {
    display: none;
}

@media (max-width: 800px){

    .bouton-recherche {
    width: 50px;
    border-radius: 18px;
    }

    .mobile-none {
        display: none;
    }
    .deskop-none {
        display: block;
    }
    .recherche button {
        padding-left: 17px;
        padding-right: 17px;
        border-radius: 1rem 1rem 1rem 1rem;
    }
    .recherche button p {
        visibility: hidden;
        font-size: 0px;
    }
}

/* Filtre de recherche */
.titre-filtre {
    margin-top: 30px;
    margin-right: 30px
}
.container-filtre {
    margin-top: 30px;
    gap: 1.9rem;
}

.nav-filtre {
    color: black;
}

@media (max-width: 800px){
    .nav-filtre{
    margin-left: 15px;
    }
}

.nav-filtre i {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -7px;
    width: 3.5rem;
    height: 3.5rem;
}

.filtres:hover {
    background-color: rgb(190, 190, 190);
}

.filtres .fas {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-filtre span {
    font-size: 22px;
    font-family: "Raleway-Bold";
    padding: 0.5rem;
    padding-left: 17px;
}

.filtres {
    border: 2px solid #cecece;
    border-radius: 2rem;
    padding: 0.3rem;

}



/*Citation sous les filtres de recherche*/

#logoinformation {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid rgb(201, 201, 201);
    color:#0065fc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 13px;
    margin-right: 5px;
}

@media (max-width: 800px){
    .phrase-citation p {
        font-size: 14px;
    }
    #logoinformation {
        margin-left: 10px;
    }
}

/*Article hébergemenent et l'aside les plus populaire*/

/*HEBERGEMENT*/


.hebergement-et-populaire {
    gap: 5rem;
    padding-bottom: 50px;
}

@media (max-width: 800px){
    .hebergement-et-populaire {
    gap: 0;
    }
}


.hebergement {
    background-color: #F2F2F2;
    flex-basis: 67%;
    border-radius: 1.5rem;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 60px;
}

@media (max-width: 800px){
    .hebergement {
    background-color: #F2F2F2;
    }
}


.hebergement-et-populaire h2 {
    font-size: 25px;
    font-family: "Raleway-Bold";
    padding-top: 20px;

}

@media (max-width: 1350px){
    .hebergement-et-populaire {
        flex-direction: column-reverse;
    }
}

.liste-des-appartements {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 50px;
}

.liste-des-appartements article{
    background-color: white;
    width: 30%;
    height: 240px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
}

@media (max-width: 1350px){
    .liste-des-appartements article {
        width: 90%;
        height: 220px;
    }
    .liste-des-appartements article img{
        width: 99%;
    }
}

.hebergement img {
    object-fit: cover;
    width: 98%;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 20px 20px 0px 0px;
    height: 150px;
}

@media (max-width: 800px){
    .hebergement img{
    height: 120px;
    }
}


.hebergement h3 {
    font-family: "Raleway-Bold";
    padding-left: 15px;
    margin-top: 5px;
    font-size: 19px;
}

.hebergement p {
    padding-left: 15px;
    margin-top: -15px;
    margin-bottom: 9px;
}

@media (max-width: 800px){
    .hebergement p {
    padding-left: 0px;
    }
}


.hebergement a {
    font-size: 20px;
    margin-top: 10px;
    font-family: "Raleway-Bold";
    color: rgb(2, 2, 2);
}

@media (max-width: 800px){
    .hebergement a{
    margin-top: 0;
    }
}

.gras {
    font-family: "Raleway-Bold";
}

.star {
    font-size: 14px;
    color: #0065fc;
}

.gray {
    color: #D3D3D3
}


/*LES PLUS POPULAIRES*/
.populaire {
    border-radius: 1.5rem;
    margin-top: 30px;
    background-color: #F2F2F2;
    flex-basis: 33%;
    padding-left: 60px;
    padding-right: 60px;
}

.liste-des-appartements-populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.liste-des-appartements-populaire > aside {
    display: flex;
    background-color: white;
    height: 180px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
}

.populaire h3 {
    font-size: 19px;
    font-family: "Raleway-Bold";
    margin-left: 15px;
    padding-top: 0px;
    padding-right: 30px;
}

.titre-populaire {
    justify-content: space-between;
}

.titre-populaire i {
    margin-top: 25px;
    font-size: 25px;
}

.populaire img {
    object-fit: cover;
    width: 35%;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 20px 0px 0px 20px;
    height: 175px;
}

.populaire p {
    margin-top: -10px;
    padding-left: 15px;
}

@media (max-width:800px){
    .populaire p {
        margin-left: 0px

    }
}

.star-populaire {
    font-size: 14px;
    color: #0065fc;
}

/*Activités*/

.cards-activites {
    flex-direction: row;
    gap: 69px
}

@media (max-width: 800px){
    .activite{
        padding-left: 60px;
        padding-right: 60px;
    }
    .activite h2{
        margin-bottom: 30px;
    }

    .cards-activites aside {
        width: 99%;
        height: 210px;
    }
    .cards-activites aside img {
        height: 150px;
    }

    .container-collum {
        width: 99%;
    }

    .container-collum aside {
        width: 100%;
        height: 210px;
    }
}

.cards-activites aside {
    border-radius: 20px;
}

.cards-activites h3 {
    font-family: "Raleway-Bold";
    margin-left: 20px;
    font-size: 20px;
    margin-top: 12px;
}

.port {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 400px;
    height: 550px;
}

.port img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 490px;
}

.container-collum {
    flex-direction: column;
    gap: 1rem;
}

.pomegue {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 400px;
    height: 300px;
    margin-bottom: 34px;
}

.pomegue img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 245px;

}

.frioul {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 100%;
    height: 200px;
}

.frioul img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 145px;

}

.dame {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 400px;
    height: 200px;
    margin-bottom: 34px;
}

.dame img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 145px;
}

.parc {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 400px;
    height: 300px;
    margin-bottom: 34px;
}

.parc img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 245px;
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #F2F2F2;
    height: auto;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;

}
.titre-liste {
    font-family: "Raleway-Bold";
    font-size: 20px;
}

footer li {
    font-size: 17px;
    list-style: none;
    padding: 0.5rem;
    padding-right: 350px;
}
.footer {
    flex-direction: row;

}

.footer > div {
    margin-bottom: 30px;
}


/****MOBILE****/
@media (max-width: 430px){

    #logo {
        padding: 0 1rem;
    }

    /*Titre Principaux*/

    /*Section de recherche*/

    /*Barre de recherche*/
    .nav-filtre span {
        font-size: 17px;
    }
    .filtres {
        padding: 0.2rem;
    }

    /*Hebergement*/
    .hebergement-et-populaire {
        padding-bottom: 0px;
    }

    .liste-des-appartements article {
        width: 100%;
        height: 240px;
    }

    .liste-des-appartements article img {
        width: 99%;
        height: 150px;
    }

    .hebergement {
        background-color: #ffffff;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;

    }

    /*Populaire*/
    .populaire {
        background-color: #F2F2F2;
        flex-basis: 30%;
        border-radius: 0;
    }

    .liste-des-appartements-populaire {
        width: 100%;
        gap: 1rem;
    }

    .liste-des-appartements-populaire > aside {
        height: 160px;
        width: 100%;
        padding-right: 30px;
    }

    .populaire img {
        height: 155px;
        width: 134px;
    }

    .populaire {
        padding-left: 15px;
        padding-right: 15px;
    }
    .titre-populaire {
        justify-content: space-between;
    }
    .populaire h2 {
        padding-right: 0px;
    }

    .populaire h3 {
        padding-right: 5px;
    }


    /*Activités*/

    .activite {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cards-activites {
        width: 100%;
        gap: 30px;
    }

    .container-collum {
        gap: 0;
    }

    .container-collum aside {
        height: 210px;
    }

    .cards-activites aside {
        height: 210px;
    }

    .activite img {
        height: 150px;
    }

    footer{
        width: 100%;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 30px;
    }

    footer li{
        padding-right: 0px;
            }
}

/****MOBILE****/
@media (max-width: 320px){

    #logo {
        padding: 0 1rem;
    }

    /*Titre Principaux*/

    /*Section de recherche*/
    .recherche input {
        font-size: 14px;
    }


    /*Barre de recherche*/
    .nav-filtre span {
        font-size: 17px;
    }
    .filtres {
        padding: 0.2rem;
    }

    /*Hebergement*/
    .hebergement-et-populaire {
        padding-bottom: 0px;
    }

    .liste-des-appartements article {
        width: 100%;
        height: 240px;
    }

    .liste-des-appartements article img {
        width: 99%;
        height: 150px;
    }

    .hebergement {
        background-color: #ffffff;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;

    }

    /*Populaire*/
    .populaire {
        background-color: #F2F2F2;
        flex-basis: 30%;
        border-radius: 0;
    }

    .liste-des-appartements-populaire {
        width: 100%;
        gap: 1rem;
    }

    .liste-des-appartements-populaire h3 {
        font-size: 15px;
    }

    .liste-des-appartements-populaire > aside {
        height: 160px;
        width: 100%;
        padding-right: 30px;
    }

    .liste-des-appartements-populaire span {
        margin-top: 50px;
    }


    .populaire img {
        height: 155px;
        width: 102px;
    }

    .populaire {
        padding-left: 15px;
        padding-right: 15px;
    }
    .titre-populaire {
        justify-content: space-between;
    }
    .populaire h2 {
        padding-right: 0px;
    }

    .populaire h3 {
        padding-right: 5px;
    }


    /*Activités*/

    .activite {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cards-activites {
        width: 100%;
        gap: 30px;
    }

    .container-collum {
        gap: 0;
    }

    .container-collum aside {
        height: 210px;
    }

    .cards-activites aside {
        height: 210px;
    }

    .activite img {
        height: 150px;
    }

    footer{
        width: 100%;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 30px;
    }

    footer li{
        padding-right: 0px;
            }
}
